*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}





.projects {
    padding: 60px 40px;
}
.section-title{
color:orangered;
text-decoration: underline;
text-align: center;
}

.project-grid {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-card {
    background-image: url(pexels-eberhardgross-1624438.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: aliceblue;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    height: 20em;
   font-size: larger;
   margin-top: 2em;
}


.project-card h3 {
    margin-bottom: 10px;
}
.P{
    text-align: center;
    text-decoration: underline;
}