* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.logo{
    width: 500px;

    font-size: 3em;
    font-family: 'Courier New';
    color:orangered;
    text-decoration: none;
    margin-left: 10em;
}
.navbar{
    margin-top: 5em;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-left: 600px;

}
.navbar a{
    color: aliceblue;
    font-size: medium;
    text-decoration: none;
    
}

.navbar a:hover{
    background-color: orangered;
    border-radius: 10px;
    transform: scale(1.5)
}


body{
   background:black;
}

.home-text{
    height: 10px;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding-top: 250px;
    margin-top: 0px;
    margin-left: 60em;
    margin-bottom: 55em;

}


.home h1 {
    color: #fff;
    font-size: 3rem;
}

.home span {
    color: orangered;
}
.home p{
    color: #ddd;
    margin: 15px 0;
}
.img{
   width: 20em;
   position:absolute;
   left: 0;
   top: 0;
   opacity: 10;
  border-radius: 400px;
  margin-top: 15em;
  margin-left: 25em;

}
.socialicons a{
color: #ddd;
display: inline-flex;
gap: 50px;
width: 80px;
height: 50px;
margin-top: 50px;
font-size: 3em;
border-radius: 50%;

}

.socialicons a:hover{
    transform: scale(1.5);
}

.fa {
    padding: 20px;
   
    text-align: center;
    text-decoration: none;
  }
  .fa:hover {
    opacity: 0.7;
  }
  .ps{
    font-weight: 100    ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .but{
   
    margin-top: 4em;
    padding: 10px 20px;
  height: 50px;
    width: 20em;
    border-radius: 50px;
    font-size: medium;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: border-color 0.3s ease;
    transition: box-shadow 0.3s ease; 
    background-color: orangered;
  }
  .but:hover {
    background-color: gray;
    border-color:rgba(240, 69, 7, 0.904);
    transform: scale(1.05); 
 
  }